/* line 13, ../sass/light-theme/partials/_light-body.scss */
body {
  background-color: #f7f7f7;
}

/* line 8, ../sass/common/common.scss */
#new-password-entry,
#login-page,
#signup-page,
#lost-password {
  margin-top: 50px;
}
/* line 15, ../sass/common/common.scss */
#new-password-entry .bttm,
#login-page .bttm,
#signup-page .bttm,
#lost-password .bttm {
  margin-bottom: 10px;
}
/* line 19, ../sass/common/common.scss */
#new-password-entry .form-signin,
#login-page .form-signin,
#signup-page .form-signin,
#lost-password .form-signin {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
}
/* line 24, ../sass/common/common.scss */
#new-password-entry .form-signin .form-signin-heading,
#login-page .form-signin .form-signin-heading,
#signup-page .form-signin .form-signin-heading,
#lost-password .form-signin .form-signin-heading {
  margin-bottom: 10px;
}
/* line 28, ../sass/common/common.scss */
#new-password-entry .form-signin .checkbox,
#login-page .form-signin .checkbox,
#signup-page .form-signin .checkbox,
#lost-password .form-signin .checkbox {
  margin-bottom: 10px;
  font-weight: normal;
}
/* line 33, ../sass/common/common.scss */
#new-password-entry .form-signin .form-control,
#login-page .form-signin .form-control,
#signup-page .form-signin .form-control,
#lost-password .form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 43, ../sass/common/common.scss */
#new-password-entry .form-signin .form-control:focus,
#login-page .form-signin .form-control:focus,
#signup-page .form-signin .form-control:focus,
#lost-password .form-signin .form-control:focus {
  z-index: 2;
}
/* line 47, ../sass/common/common.scss */
#new-password-entry .form-signin input[type="text"],
#login-page .form-signin input[type="text"],
#signup-page .form-signin input[type="text"],
#lost-password .form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 53, ../sass/common/common.scss */
#new-password-entry .form-signin input[type="password"],
#login-page .form-signin input[type="password"],
#signup-page .form-signin input[type="password"],
#lost-password .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 60, ../sass/common/common.scss */
#new-password-entry .account-wall,
#login-page .account-wall,
#signup-page .account-wall,
#lost-password .account-wall {
  margin-top: 5px;
  padding: 40px 0px 20px 0px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 68, ../sass/common/common.scss */
#new-password-entry .login-title,
#login-page .login-title,
#signup-page .login-title,
#lost-password .login-title {
  font-size: 18px;
  font-weight: 400;
  display: block;
}

/* line 18, ../sass/light-theme/partials/light-login.scss */
#new-password-entry .form-signin label,
#login-page .form-signin label,
#signup-page .form-signin label,
#lost-password .form-signin label {
  color: #333;
}
/* line 23, ../sass/light-theme/partials/light-login.scss */
#new-password-entry .account-wall,
#login-page .account-wall,
#signup-page .account-wall,
#lost-password .account-wall {
  background-color: #fff;
}
/* line 27, ../sass/light-theme/partials/light-login.scss */
#new-password-entry .login-title,
#login-page .login-title,
#signup-page .login-title,
#lost-password .login-title {
  color: #555;
}
