/* line 15, ../../../sass/dark-theme/partials/dark-login.scss */
#login-page .bttm,
#signup-page .bttm,
#lost-password .bttm {
  margin-bottom: 10px;
}
/* line 19, ../../../sass/dark-theme/partials/dark-login.scss */
#login-page .form-signin,
#signup-page .form-signin,
#lost-password .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
/* line 24, ../../../sass/dark-theme/partials/dark-login.scss */
#login-page .form-signin .form-signin-heading,
#signup-page .form-signin .form-signin-heading,
#lost-password .form-signin .form-signin-heading {
  margin-bottom: 10px;
}
/* line 28, ../../../sass/dark-theme/partials/dark-login.scss */
#login-page .form-signin label,
#signup-page .form-signin label,
#lost-password .form-signin label {
  color: #dcdcdc;
}
/* line 32, ../../../sass/dark-theme/partials/dark-login.scss */
#login-page .form-signin .checkbox,
#signup-page .form-signin .checkbox,
#lost-password .form-signin .checkbox {
  margin-bottom: 10px;
  font-weight: normal;
}
/* line 37, ../../../sass/dark-theme/partials/dark-login.scss */
#login-page .form-signin .form-control,
#signup-page .form-signin .form-control,
#lost-password .form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 47, ../../../sass/dark-theme/partials/dark-login.scss */
#login-page .form-signin .form-control:focus,
#signup-page .form-signin .form-control:focus,
#lost-password .form-signin .form-control:focus {
  z-index: 2;
}
/* line 51, ../../../sass/dark-theme/partials/dark-login.scss */
#login-page .form-signin input[type="text"],
#signup-page .form-signin input[type="text"],
#lost-password .form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 57, ../../../sass/dark-theme/partials/dark-login.scss */
#login-page .form-signin input[type="password"],
#signup-page .form-signin input[type="password"],
#lost-password .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 64, ../../../sass/dark-theme/partials/dark-login.scss */
#login-page .account-wall,
#signup-page .account-wall,
#lost-password .account-wall {
  margin-top: 5px;
  padding: 40px 0px 20px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 73, ../../../sass/dark-theme/partials/dark-login.scss */
#login-page .login-title,
#signup-page .login-title,
#lost-password .login-title {
  color: #dcdcdc;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
