/////////////////////////////////////////////////////////////
////                                                     ////
////    IF YOU ADD SOMETHING HERE YOU MUST ADD IT TO     ////
////    dark-login.scss                                  ////
////                                                     ////
/////////////////////////////////////////////////////////////

// Imports
@import '../../variables/light-theme-variables';

#new-password-entry,
#login-page,
#signup-page,
#lost-password{

  .form-signin {

    label {
      color: $form-label-color;
    }
  }

  .account-wall {
    background-color: $form-background;
  }

  .login-title {
    color: $login-font-color;
  }
}