@import 'compass';

/////////////////////////////////////////////////////////////////////////
////                                                                 ////
////   IF YOU ADD A FILE HERE ADD IT TO light-theme-variables.scss   ////
////                                                                 ////
/////////////////////////////////////////////////////////////////////////

$body-background: rgba(0, 0, 0, 0.75);

$form-background: rgba(0, 0, 0, 0.5);

$login-title-font-color: #dcdcdc;
$login-font-color: #dcdcdc;
$form-label-color: #dcdcdc;
