@import 'compass';

/////////////////////////////////////////////////////////////////////////
////                                                                 ////
////   IF YOU ADD A FILE HERE ADD IT TO dark-theme-variables.scss    ////
////                                                                 ////
/////////////////////////////////////////////////////////////////////////

$body-background: #f7f7f7;

$form-background: #fff;

$login-title-font-color: #555;
$login-font-color: #555;
$form-label-color: #333;